<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Alevel\LoyaltyProgram\Api\Model\LoyaltyProgramInterface"
                type="Alevel\LoyaltyProgram\Model\LoyaltyProgram"/>

    <preference for="Alevel\LoyaltyProgram\Api\Repository\LoyaltyProgramRepositoryInterface"
                type="Alevel\LoyaltyProgram\Repository\LoyaltyProgramRepository"/>

</config>
