<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Alevel\LoyaltyProgram\Api\Repository\LoyaltyProgramRepositoryInterface"
                type="Alevel\LoyaltyProgram\Repository\LoyaltyProgramRepository" />
    <preference for="Alevel\LoyaltyProgram\Api\Model\LoyaltyProgramInterface"
                type="Alevel\LoyaltyProgram\Model\LoyaltyProgram" />
    <type name="Magento\Customer\Api\GroupRepositoryInterface">
        <plugin name="alevel_loyaltyprogram_grouprepository_getbyid" type="\Alevel\LoyaltyProgram\Plugin\GroupRepositoryGetByIdPlugin" sortOrder="1"/>
    </type>
</config>